.cookies {
    width: 285px;
    height: 125px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
    box-sizing: border-box;

    padding: 20px;
    bottom:110px;
    right: 15px;

    border-radius: 10px;
    background-color: #3E3E3E;
}

.cookies__text {
    text-align: center;
}

.cookies__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cookies__link {
    width: 40%;
    color: #ffffff;

    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px dashed #ffffff;
}

.cookies__button {
    margin-left: 15px;
    font-weight: bold;
    color: #00ACFF;
    border: none;
    background: transparent;
}