.main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 80%;
    margin: 0;
}

.main__image {
    height: 600px;
    padding-right: 70px;
}