.menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}

.menu__item {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.menu__item:hover {
    color: #00ACFF;
}