.mockup {
    position: fixed;
    top:50px;
    right: -35%;
    background-image: url("../images/mockup1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mockup2 {
    position: fixed;
    top:50px;
    right: -40%;
    background-image: url("../images/mockup2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mockup3 {
    position: fixed;

    background-image: url("../images/mockup3.png");
    background-size: contain;
    background-repeat: no-repeat;
    top:15%;
    left: 47%;
    width: 80%;
    height: 80%;
    z-index: -1;
}